<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84361781207-h03n785auccudsljpmlc98j3lp80b4cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84361781207-h03n785auccudsljpmlc98j3lp80b4cn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84361781207-7mbva6g2gitel2va1s4cmngcf14di9i3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArHlDzePCkGAFC294g3LkXsz0VrkG_xwA</string>
	<key>GCM_SENDER_ID</key>
	<string>84361781207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocTest</string>
	<key>PROJECT_ID</key>
	<string>lisamobile-96257</string>
	<key>STORAGE_BUCKET</key>
	<string>lisamobile-96257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84361781207:ios:2d477fff8b191798bb7592</string>
	<key>DATABASE_URL</key>
	<string>https://lisamobile-96257-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>